Package: advancedcaching
Section: x11
Priority: optional
Version: 0.1.0
Architecture: all
Maintainer: Daniel Fett
Depends: python-pygtk, python-html, python-image, python-netclient, python-misc, python-sqlite3, python-mime
Source: none
Description: "towards paperless geocaching"
