
[Desktop Entry]
Name=AdvancedCaching
Comment=Advanced Geocaching Tool For Linux
Encoding=UTF-8
Version=0.0
Type=Application
Exec=/usr/lib/site-python/advancedcaching/core.py --simple
Icon=advancedcaching
Terminal=false
Categories=Office;
SingleInstance=true
StartupNotify=true
Comment[de_DE.UTF-8]=An Advanced Linux Geocaching tool
Name[de_DE]=advancedcaching.desktop
